<div class="header-big  post-top css-color mb-4" id="search-bg" style="background-position-y: 35%;
background-position-x: center;">
    <div class="s-search" style="padding-top: 50px">
        <div id="search" class="s-search mx-auto">

            <form action="https://www.baidu.com?s=" method="get" target="_blank" class="super-search-fm">
                <input type="text" id="search-text" class="form-control smart-tips search-key" zhannei=""
                    placeholder="输入关键字搜索" style="outline:0" autocomplete="off">
                <button class="submit" type="submit"><i class="iconfont icon-search"></i></button>
            </form>

            <div id="search-list" class="hide-type-list">
                <div class="search-group group-a">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" checked="checked" id="type-baidu"
                                value="https://www.baidu.com/s?wd=" data-placeholder="百度一下，你就知道">
                            <label for="type-baidu"><span class="text-muted">百度</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-bing"
                                value="https://cn.bing.com/search?q=" data-placeholder="微软 Bing 搜索">
                            <label for="type-bing"><span class="text-muted">必应</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-google"
                                value="https://www.google.com/search?q=" data-placeholder="谷歌搜索">
                            <label for="type-google"><span class="text-muted">谷歌</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" id="type-ltyvc"
                            value="https://lty.vc/r/" data-placeholder="输入访问码">
                        <label for="type-ltyvc"><span class="text-muted">访问码</span></label>
                    </li>
                    </ul>
                </div>
            </div>
            <div class="card search-smart-tips search-hot-text">
                <ul id="word" style="display: none"></ul>
            </div>
        </div>
    </div>
</div>