<div class="main-content flex-fill grid-bg">
    <div class="big-header-banner">
        <div id="header" class="page-header sticky">
            <div class="navbar navbar-expand-md">
                <div class="container-fluid p-0">

                    <div class="collapse navbar-collapse order-2 order-md-1" style="justify-content: center; align-items: center">
                        <div class="rounded-circle weather" style="margin-top: 50px;">
                            <div id="he-plugin-simple" style="display: contents;"></div>
                            <script>WIDGET = {
                                "CONFIG": {
                                  "modules": "01234",
                                  "background": "5",
                                  "tmpColor": "3478C6",
                                  "tmpSize": "16",
                                  "cityColor": "3478C6",
                                  "citySize": "16",
                                  "aqiColor": "3478C6",
                                  "aqiSize": "16",
                                  "weatherIconSize": "24",
                                  "alertIconSize": "18",
                                  "padding": "10px 10px 10px 10px",
                                  "shadow": "0",
                                  "language": "zh",
                                  "fixed": "false",
                                  "vertical": "center",
                                  "horizontal": "center",
                                  "city": "CN101190202",
                                  "key": "955f393e193743768adef75e79acc1e4"
                                }
                              }
                            </script>
                            <script src="https://widget.qweather.net/simple/static/js/he-simple-common.js?v=2.0"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="placeholder" style="height:74px"></div>
    </div>